$mygrey: #cccccc;
$myred: #f97a66;
$myblue: #e1f8f1;
$mybgblue: #ccffff;
$myyellow: #ffd000;
$mybgquestion: #6699ff;
$img_1: #7895f5;
$img_2: #91e0e8;
$img_3: #f57899;
$img_4: #e8ffcb;
$mybgcontacts: #6a9394;